<!DOCTYPE html>
<html>
<head>
	<title>Code For Palestine/members</title>
	<link rel="stylesheet" href="static/assets/css/cards.css"/>
	<link rel="icon" href="static/images/Home-icon.png">
</head>
<body class="subpage">
	<header id="header">
					<div class="inner">
						<a href="/" class="logo" style="padding: 10px;"><strong>Code</strong> For Palestine</a>
						<a href="#" style="padding: 10px;" class="mains"><strong style="font-size: 30px;padding: 10px;">Year#2/Members</strong></a>
						<nav style="padding: 10px;" id="nav">
						<a href="/">Home</a>
						<a href="/About">About</a>
						<a href="/Service">Service</a>
            <a href="/Activities">Activities</a>
            <a href="/newsfeeds">Newsfeed</a>
						</nav>
						<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
					</div>
			</header>
<table id="profiles">
<tr>
<td>
<div class="card">
  <img src="static/images/16640684_1533007546716857_8978311836323813288_n.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Layan Sayeh</b></h4> 
    <p>Student/wecode</p> 
  </div>
</div>
</td>
</tr>
</table>
<table id="profiles">
<tr>
<td>
<div class="card">
  <img src="static/images/18951485_1875760269351094_8859317028898667965_n.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Ibrahim Ajaj</b></h4> 
    <p>Student/wecode</p> 
  </div>
</div>
</td>
</tr>
</table>
<table id="profiles">
<tr>
<td>
<div class="card">
  <img src="static/images/16939204_1240701632684556_3172337777264904979_n.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Fares Khafaja</b></h4> 
    <p>Student/wecode</p>
  </div>
</div>
</td>
</tr>
</table>
<table id="profiles">
<tr>
<td>
<div class="card">
  <img src="static/images/fadihommos.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Fadi Qusay</b></h4> 
    <p>Student/wecode/Admin</p> 
  </div>
</div>
</td>
</tr>
</table>
<table id="profiles">
<tr>
<td>
<div class="card">
  <img src="static/images/18033497_10154624780833562_4312700763447612683_n.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Belal Daqqah</b></h4> 
    <p>Student/wecode</p> 
  </div>
</div>
</td>
</tr>
</table>
<table id="profiles">
<tr>
<td>
<div class="card">
  <img src="static/images/18664647_682660095192680_2895871538324016945_n.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Amin Hijaz</b></h4> 
    <p>Student/wecode</p> 
  </div>
</div>
</td>
</tr>
</table>
<table id="profiles">
<tr>
<td>
<div class="card">
  <img src="static/images/18723584_1696475867315089_4099404489981689856_n.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Nour Malaki</b></h4> 
    <p>Student/wecode</p> 
  </div>
</div>
</td>
</tr>
</table>
<table id="profiles">
<tr>
<td>
<div class="card">
  <img src="static/images/1937017_1035536789830973_8626148046123058324_n.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Mumen Khatib</b></h4> 
    <p>Student/wecode</p> 
  </div>
</div>
</td>
</tr>
</table>
<table id="profiles">
<tr>
<td>
<div class="card">
  <img src="static/images/19424725_1346227722112570_2025325754375471104_n.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Mohammad A.</b></h4> 
    <p>Student/wecode</p> 
  </div>
</div>
</td>
</tr>
</table>
<table id="profiles">
<tr>
<td>
<div class="card">
  <img src="static/images/11006416_970037406364043_3713950504296444190_n.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Mohammad A.</b></h4> 
    <p>Student/wecode</p> 
  </div>
</div>
</td>
</tr>
</table>
<table id="profiles">
<tr>
<td>
<div class="card">
  <img src="static/images/19692174_1709074572733397_331740276_n.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Mays Eid</b></h4> 
    <p>Student/wecode</p> 
  </div>
</div>
</td>
</tr>
</table>
<table id="profiles">
<tr>
<td>
<div class="card">
  <img src="static/images/19692355_1232811106846188_385679229_n.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Majd Marie</b></h4> 
    <p>Student/wecode</p> 
  </div>
</div>
</td>
</tr>
</table>
<table id="profiles">
<tr>
<td>
<div class="card">
  <img src="static/images/13151561_1004111569624224_7483354450768636494_n.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Salem Mufarreh</b></h4> 
    <p>Student/wecode</p> 
  </div>
</div>
</td>
</tr>
</table>
<table id="profiles">
<tr>
<td>
<div class="card">
  <img src="static/images/14199498_177052442728340_1512658087408071657_n.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Sadeel Malassa</b></h4> 
    <p>Student/wecode</p> 
  </div>
</div>
</td>
</tr>
</table>
<table id="profiles">
<tr>
<td>
<div class="card">
  <img src="static/images/12804736_957872064288731_1976787836897179757_n.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Ribhy Bishtawi</b></h4> 
    <p>Student/wecode</p> 
  </div>
</div>
</td>
</tr>
</table>
<table id="profiles">
<tr>
<td>
<div class="card">
  <img src="static/images/16729362_10208168142061892_2360410263682830684_n.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Omar Khatib</b></h4> 
    <p>Student/wecode</p> 
  </div>
</div>
</td>
</tr>
</table>
<table id="profiles">
<tr>
<td>
<div class="card">
  <img src="static/images/13654157_917849705008079_9148127689383967504_n.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Ola Hamad</b></h4> 
    <p>Student/wecode</p> 
  </div>
</div>
</td>
</tr>
</table>
<table id="profiles">
<tr>
<td>
<div class="card">
  <img src="static/images/13263739_900089846783186_5298945377223260477_n.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Ola Abdusalam</b></h4> 
    <p>Student/wecode</p> 
  </div>
</div>
</td>
</tr>
</table>

</body>
</html>