<!DOCTYPE html>
<html>
<head>
	<title>Code For Palestine/members</title>
	<link rel="stylesheet" href="static/assets/css/cards.css"/>
	<link rel="icon" href="static/images/Home-icon.png">
</head>
<body class="subpage">
	<header id="header">
					<div class="inner">
						<a href="index.html" class="logo" style="padding: 10px;"><strong>Code</strong> For Palestine</a>
						<a href="#" style="padding: 10px;" class="mains"><strong style="font-size: 30px;padding: 10px;">Year#3/Members</strong></a>
					.<nav style="padding: 10px;margin-top: -43px;" id="nav">
						<a href="/">Home</a>
						<a href="/About">About</a>
						<a href="/Service">Service</a>
						<a href="/Activities">Activities</a>
            <a href="/newsfeeds">Newsfeed</a>
						</nav>
						<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
					</div>
			</header>
<table id="profiles">
<tr>
<td>
<div class="card">
  <img src="static/images/19424210_1307160779410220_2812686405564058310_n.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Batool Alsulaibe</b></h4> 
    <p>Student/wecode</p> 
  </div>
</div>
</td>
</tr>
</table>
<table id="profiles">
<tr>
<td>
<div class="card">
  <img src="static/images/13619990_1013484872080835_2877841338901781382_n.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Amr AbdulS.</b></h4> 
    <p>Student/wecode</p> 
  </div>
</div>
</td>
</tr>
</table>
<table id="profiles">
<tr>
<td>
<div class="card">
  <img src="static/images/15941121_1795725970679877_1975377733259244452_n.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Akram Sbaih</b></h4> 
    <p>Student/wecode</p>
  </div>
</div>
</td>
</tr>
</table>
<table id="profiles">
<tr>
<td>
<div class="card">
  <img src="static/images/16683915_387433651637068_7516311575505342791_n.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Adam Shqair</b></h4> 
    <p>Student/wecode</p> 
  </div>
</div>
</td>
</tr>
</table>
<table id="profiles">
<tr>
<td>
<div class="card">
  <img src="static/images/14102297_888778921266461_1518461113372256908_n.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Abdallah Saleh</b></h4> 
    <p>Student/wecode</p> 
  </div>
</div>
</td>
</tr>
</table>
<table id="profiles">
<tr>
<td>
<div class="card">
  <img src="static/images/15801933_165199640627942_2047176052601520128_n.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Abdallah Jabr</b></h4> 
    <p>Student/wecode</p> 
  </div>
</div>
</td>
</tr>
</table>
<table id="profiles">
<tr>
<td>
<div class="card">
  <img src="static/images/19679711_705994432859246_71130146_n.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Shorooq Aladin</b></h4> 
    <p>Student/wecode</p> 
  </div>
</div>
</td>
</tr>
</table>
<table id="profiles">
<tr>
<td>
<div class="card">
  <img src="static/images/19437738_1604050846313058_1134246794377542625_n.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Rami Arafeh</b></h4> 
    <p>Student/wecode</p> 
  </div>
</div>
</td>
</tr>
</table>
<table id="profiles">
<tr>
<td>
<div class="card">
  <img src="static/images/18922201_467454840272217_3854816066288941918_n.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Omar Ganaem</b></h4> 
    <p>Student/wecode</p> 
  </div>
</div>
</td>
</tr>
</table>
<table id="profiles">
<tr>
<td>
<div class="card">
  <img src="static/images/12063679_10207799203091566_928779314442857498_n.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Mohammad A.</b></h4> 
    <p>Student/wecode</p> 
  </div>
</div>
</td>
</tr>
</table>
<table id="profiles">
<tr>
<td>
<div class="card">
  <img src="static/images/10330501_752930848140805_501728892311107649_n.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Liath Isbaitan</b></h4> 
    <p>Student/wecode</p> 
  </div>
</div>
</td>
</tr>
</table>
<table id="profiles">
<tr>
<td>
<div class="card">
  <img src="static/images/12743730_973351662758273_845778690678032783_n.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Kareem Shaer</b></h4> 
    <p>Student/wecode</p> 
  </div>
</div>
</td>
</tr>
</table>
<table style="margin-right:540px;" id="profiles">
<tr>
<td>
<div class="card">
  <img src="static/images/14322658_874432422688421_6319868540004871851_n.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Tariq Sharia</b></h4> 
    <p>Student/wecode</p> 
  </div>
</div>
</td>
</tr>
</table>

</body>
</html>