<!DOCTYPE html>
<html class="no-js" lang="en"> 
<head>


   <meta charset="utf-8">
	<title>Code For Palestine News Feed</title>
	<meta name="description" content="">  
	<meta name="author" content="">

   <link rel="stylesheet" href="static/assets/css1/default.css">
	<link rel="stylesheet" href="static/assets/css1/layout.css">  
	<link rel="stylesheet" href="static/assets/css1/media-queries.css"> 
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="static/assets/css/main.css" />
	<link rel="stylesheet" href="static/assets/css/main2.css" />
	<link rel="stylesheet" href="static/assets/css/main3.css" />
	<link rel="stylesheet" href="static/assets/css/login.css"/>
	<link rel="icon" href="static/images/Home-icon.png">

</head>

<body>
	<body class="subpage">
			<header id="header">
				<div class="inner">
					<a href="/" class="logo"><strong>Code</strong> For Palestine</a>
					<nav id="nav">
						<a href="/">Home</a>
						<a href="/About">About</a>
						<a href="/Service">Service</a>
						<a href="/Activities">Activities</a>
						<a href="/newsfeeds">NewsFeed</a>
						<a type="button" href="/logout" align="1000px-2002px">Logout</a>

					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>
   <header id="top">

   	<div class="row">

   		<div class="header-content twelve columns">

		      <h1 id="logo-text"><a style="margin-left: 100px" href="#" padding-left="200px">Code For Palestine News Feed</a></h1>
				<p style="left: 131px" id="intro">Feel Free to Post What You Want!</p>

			</div>			

	   </div>

	   </nav> 	     

   </header> 


			<footer id="footer">
				<div class="inner">

					<h3>Post what you think ?</h3>

					<form action="/newsfeeds" method="POST">

						<div class="field half">
							<label for="email">Email</label>
							<input name="emailfeed" id="email" type="email" placeholder="Email">
						</div>
						<div class="field">
							<label for="message">Post</label>
							<textarea name="text" id="Text" rows="6" placeholder="Text"></textarea>
						</div>
						<ul class="actions">
							<li><input value="Post" class="button alt" type="submit"></li>
						</ul>
					</form>
   <div id="content-wrap">

   	<div style="margin-left: 270px" class="row">

   		<div id="main" class="eight columns">


	   		<article class="entry">


	   		{% for new in newsfeed %}
				<article class="entry">
	   			
					<header class="entry-header">

						<h2 class="entry-title">
							<a href="newsfeeds" title=""> {{new.emailfeed}}</a>
						</h2> 				 
					
						<div class="entry-meta">
							<ul>
								<li>{{new.time_string}}</li>
								<span class="meta-sep">&bull;</span>								
								<li>s
									<a href="#" title="" rel="category tag">student</a>  

							</ul>
						</div> 
					 
					</header> 			

					<div class="entry-content">
						<p>{{new.text}} </p>
					</div> 

				</article> <!-- end entry -->  	


	   		{% endfor %}
				</article> <!-- end entry -->

				<article class="entry">
	   			

				</article> <!-- end entry -->  	
						

   		</div> <!-- end main -->



</body>

</html>