<!DOCTYPE HTML>
<html>
	<head>
		<title>Python - Code For Palestine</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<link rel="stylesheet" type="text/css" href="static/assets/css/main2.css"/>
		<link rel="stylesheet" type="text/css" href="static/assets/css/main3.css"/>
		<link rel="stylesheet" type="text/css" href="static/assets/css/login.css"/>
		<link rel="icon" href="static/images/Home-icon.png">
	</head>
	<body class="subpage">

			<header id="header">
				<div class="inner">
					<a href="/" class="logo"><strong>Code</strong> For Palestine</a>
					<nav id="nav">
						<a href="/">Home</a>
						<a href="/About">About</a>
						<a href="/Service">Service</a>
						<a href="/Activities">Activities</a>
						<a href="/newsfeed">Newsfeed</a>
						<a type="button" href="/logout" align="1000px-2002px">Logout</a>
						<button style="color: #ffffff;height: 10px;padding: 1;padding-right: 0px;" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>
<div id="id01" class="modal">
  
  <form class="modal-content animate" action="/action_page.php">
    <div style="width: 100%" class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img style="width: 300px;height: 300px" src="static/images/Home-icon.png" alt="Avatar" class="avatar">
    </div>

    <div class="container">
      <label><b>Username</b></label>
      <input style="width: 1048px" type="text" placeholder="Enter Username" name="uname" required>

      <label><b>Password</b></label>
      <input style="width: 1048px; float: left;" type="password" placeholder="Enter Password" name="psw" required>
        
      <input type="checkbox" checked="checked">
    </div>

    <div class="container" style="background-color:#f1f1f1;width: 1065px">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
      <button  style="margin-left: 220px; width: 300px;" type="submit">Login</button>
      <span class="psw"><a href="#">Forgot password?</a></span>
    </div>
  </form>
</div>

			<section id="three" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h2>PYTHON</h2>
						<p>Programming Language</p>
					</header>
					<div class="image round left">
						<img style="height: 300px;width: 300px;" src="static/images/1073 (1).png" alt="Pic 01" />
					</div>
					<p>Python is a widely used high-level programming language for general-purpose programming, created by Guido van Rossum and first released in 1991. An interpreted language, Python has a design philosophy which emphasizes code readability (notably using whitespace indentation to delimit code blocks rather than curly brackets or keywords), and a syntax which allows programmers to express concepts in fewer lines of code than might be used in languages such as C++ or Java.The language provides constructs intended to enable writing clear programs on both a small and large scale.</p>

					<div class="image round right">
						<img  style="height: 300px;width: 300px;" src="static/images/python@2x.png" alt="Pic 02" />
					</div>
					<p>Python features a dynamic type system and automatic memory management and supports multiple programming paradigms, including object-oriented, imperative, functional programming, and procedural styles. It has a large and comprehensive standard library. And it interpreters are available for many operating systems, allowing Python code to run on a wide variety of systems. CPython, the reference implementation of Python, is open source software and has a community-based development model, as do nearly all of its variant implementations. CPython is managed by the non-profit Python Software Foundation. Python is intended to be a highly readable language. It is designed to have an uncluttered visual layout, often using English keywords where other languages use punctuation. Python doesn't have semicolons and curly brackets "{}", in contrast to many other programming languages. Further, Python has fewer syntactic exceptions and special cases than C or Pascal.</p>

					<p>The End Of Life date (EOL, sunset date) for Python 2.7 was initially set at 2015, then postponed to 2020 out of concern that a large body of existing code cannot easily be forward-ported to Python 3. In January 2017, Google announced work on a Python 2.7 to Go transcompiler, which The Register speculated was in response to Python 2.7's planned end-of-life[36] but Google cited performance under concurrent workloads as their only motivation.</p>

				</div>
			</section>

			<footer id="footer">
				<div class="inner">

					<h3>Give Us Your FeedBack</h3>

					<form action="#" method="post">

						<div class="field half first">
							<label for="name">Name</label>
							<input name="name" id="name" type="text" placeholder="Name">
						</div>
						<div class="field half">
							<label for="email">Email</label>
							<input name="email" id="email" type="email" placeholder="Email">
						</div>
						<div class="field">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
						</div>
						<ul class="actions">
							<li><input value="Send Message" class="button alt" type="submit"></li>
						</ul>
					</form>

					<div class="copyright">
						&copy; Designed By Yousef Hamarsheh and Fadi Abu Al Hommos <a href="#">ADMIN</a>
					</div>

				</div>
			</footer>
<script>
var modal = document.getElementById('id01');

window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
<script src="static/assets/js/jquery.min.js"></script>
<script src="static/assets/js/skel.min.js"></script>
<script src="static/assets/js/util.js"></script>
<script src="static/assets/js/main.js"></script>

	</body>
</html>