<!DOCTYPE html>
<html>
<head>
  <title>SignUp</title>
  <link rel="icon" href="static/images/Home-icon.png">
  <link rel="stylesheet" type="text/css" href="static/assets/css/loginpage.css">
</head>
<body>
<div class="login-page">
  <div class="form">
  <h1 style="
    margin-top: -21px;
    padding-bottom: 31px;
    opacity: 0.3;
">SignUp</h1>
    <form class="register-form">
      <input type="text" placeholder="name"/>
      <input type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
      <button>create</button>
      <p class="message">Already registered? <a href="/Login">Sign In</a></p>
    </form>
    <form action="/SignUpForm" method="POST" class="login-form">
      <input type="text" placeholder="Username" name="email" />
      <input type="password" placeholder="Password" name="password" />
      <input type="email" name="username" placeholder="Email">
      <button>Creat Your Account</button>
    </form>
  </div>
</div>
<script type="text/javascript">$('.message a').click(function(){
   $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
});</script>
</body>
</html>